<div class="post">

  <ion-item lines="none">

    <ion-avatar slot="start">
      <img src="/assets/avatars/{{post.usuario.avatar}}" />
    </ion-avatar>

    <ion-row>
      <ion-col>
        <ion-label>
          <h3>{{post.usuario.nombre}}</h3>
          <h5>{{post.usuario.email}}</h5>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-items-end">
        <ion-item lines="none">
          <ion-segment (ionChange)="segmentChanged($event)" *ngIf="post.imgs.length>0&&post.coords" mode="ios"
            class="ion-align-items-end" value="fotos">
            <ion-segment-button value="fotos">
              <ion-label>Fotos</ion-label>
            </ion-segment-button>
            <ion-segment-button value="maps">
              <ion-label>Maps</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-item>

  <!-- ng if imagenes -->
  <div *ngIf="mostrarFotos">
    <ion-slides mode="ios" pager="ios" scrollbar="ios" *ngIf="post.imgs.length>1">
      <ion-slide *ngFor="let img of post.imgs" class="image-slide"
        [style]="img |imagen:post.usuario._id | domSanitizer">
      </ion-slide>
    </ion-slides>

    <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideSoloOpt" *ngIf="post.imgs.length===1">
      <ion-slide class="image-slide" [style]="post.imgs[0] |imagen:post.usuario._id | domSanitizer">
      </ion-slide>
    </ion-slides>
  </div>
  <!-- mapa ngif coordenadas -->
  <app-mapa *ngIf="mostrarMapas" [coords]="post.coords"></app-mapa>


  <ion-item lines="none">
    <ion-label slot="start">{{post.likes.length}} likes</ion-label>
    <ion-icon slot="end" name="bookmark-outline" (click)="like()"></ion-icon>
    <ion-button (click)="like()" fill="clear" shape="round" slot="end">
      <ion-icon slot="icon-only" name="heart-outline" color="danger" *ngIf="!isliked"></ion-icon>
      <ion-icon slot="icon-only" name="heart" color="danger" *ngIf="isliked"></ion-icon>
    </ion-button>
    
  </ion-item>

  <ion-item lines="none">
    <ion-label text-wrap>
      {{post.mensaje}}
    </ion-label>
  </ion-item>

</div>