<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>
    <ion-title>
      iPost
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Refress -->
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Posts -->
  <app-posts [posts]="posts"></app-posts>

  <!-- InfiniteScroll -->
  <ion-infinite-scroll [disabled]="!infineScrollHabilitado" threshold="25%" position="bottom" (ionInfinite)="siguientes($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando posts...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>